{% extends "layout.twig" %}
{% block content %}
    <h1>Add Job</h1>
    <form action="add" method="POST">
        <div class="row">
            <div class="col-6 form-group">
                <label for="">Title:</label>
                <input class="form-control" name="title" type="text"/>
            </div>
        </div>
        <div class="row">
            <div class="col-6 form-group">
                <label for="">Description:</label>
                <input class="form-control" name="description" type="text"/>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
{% endblock %}
